body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.section1{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    height: 700px;
}
.section1-container{
    padding: 150px;
}
.section1-title{
    font-size: 60px;
}
.section2-title{
    text-align:center;
    font-size: 35px;
}
.working-title{
    text-align:center;
    font-size: 35px;
    padding: 30px;
}
.updates-title{
    text-align:center;
    font-size: 35px;
    padding-top: 30px;
}
.section1-text{
    font-size: 18px;
}
.section2-text{
    text-align:center;
    opacity: 70%;
    padding-bottom: 30px;
}
.section1-btn{
    text-decoration: none;
    background-image:linear-gradient(rgb(207, 137, 7),tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5%;
}
.amount{
    display: flex;
    justify-content: space-evenly;
}
.taka{
    text-align: center;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 10px;
    height: 30px;
    opacity: 70%;
}
#select-item{
    color: coral;
    border: 1px solid coral;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.planning-food{
    background-color: rgb(221, 240, 240);
    padding: 50px 30px;
    height: 200px;
    width: 300px;
    text-align:left;
    align-items: center;
    border-radius: 10px;
}
.food-text{
    opacity: 70%;
}
.planning-shelter{
    background-color: rgb(241, 230, 241);
    padding: 50px 30px;
    height: 200px;
    width: 300px;
    text-align:left;
    align-items: center;
    border-radius: 10px;
}
.planning-education{
    background-color: rgb(240, 240, 223);
    padding: 50px 30px;
    height: 200px;
    width: 300px;
    text-align:left;
    align-items: center;
    border-radius: 10px;
}
.planning_container{
    display: flex;
    justify-content: space-evenly;

}
.working-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    text-align: center;
    opacity: 90%;
}
.update-text{
    text-align: center;
    opacity: 70%;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 100px;
    font-size: 10px;
    padding: 25px;
}
#footer-text{
    color: rgb(190, 103, 103);
    font-size: 25px;
}