body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.section1{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    height: 700px;
}
.section1-container{
    padding: 150px;
}
.section1-title{
    font-size: 60px;
}
.section2-title{
    text-align:center;
    font-size: 35px;
}
.section1-text{
    font-size: 18px;
}
.section2-text{
    text-align:center;
    opacity: 70%;
}
.section1-btn{
    text-decoration: none;
    background-image:linear-gradient(rgb(207, 137, 7),tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 700px;
    border-radius: 5%;
}
